# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# Node
node_modules/

# Build Files
dist/
build/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db