fastapi
uvicorn
python-multipart
rasterio
numpy
psycopg[binary]
GDAL==3.10.3
torch
torchvision
opencv-python==4.11.0.86
onnxruntime
PyYAML==6.0.2
shapely==2.1.1
huggingface-hub==0.32.4
tornado==6.5.1
tqdm==4.67.1
ultralytics==8.3.148
numba==0.62.1
deepforest==2.1.0
scikit-image==0.26.0
transformers
geopandas
celery
redis
minio
